<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/styles.css">
    <title>Dashboard</title>
</head>
<body>
     <header>
        <div class="container">
            <img src="travel.png" alt="Production House Logo" class="logo">
            <nav>
                <ul>
                    <li><a href="#services">{{user.username}}</a></li>
                  
                </ul>
            </nav>
        </div>
    </header>
   
        <h1>Welcome to the Dashboard!</h1>
   
    
    <!-- Add other dashboard content here -->
    
</body>
</html>
